$small: 90px;
$medium: 140px;
$large: 215px;
$x-large: 320px;
$xx-large: 440px;

// $sizes: "$small", "medium", "large", "x-large", "xx-large";
$sizes: $small, $medium, $large, $x-large, $xx-large;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282c33;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.redux-loading-bar {
  background-color: #8ee7ff;
  height: 3px;
  position: absolute;
}

.app-logo {
  background: transparent;
  border: 3px solid #61dafb;
  border-radius: 5px;
  position: absolute;

  // pointer-events: none;

  @media (min-width: 480px) {
    border: 4px solid #61dafb;
  }

  @media (min-width: 768px) {
    border: 5px solid #61dafb;
  }

  @media (min-width: 1024px) {
    border: 6px solid #61dafb;
  }

  @media (min-width: 1280px) {
    border: 7px solid #61dafb;
  }

  &.logo1 {
    width: nth($sizes, 4);
    height: nth($sizes, 4);
    border-radius: 50%;
    animation: app-logo-spin infinite 20s 2s ease;
    border-top-color: #fff;
    border-bottom-color: #fff;
    opacity: 0.4;
  }

  &.logo2 {
    width: $large;
    height: $large;
    animation: app-logo-reverse-spin infinite 20s 2s ease-in-out;
    opacity: 0.3;
  }

  &.logo3 {
    width: $medium;
    height: $medium;
    animation: app-logo-spin infinite 20s 2s ease-out;
    opacity: 0.2;
  }

  &.logo4 {
    width: $small;
    height: $small;
    animation: app-logo-reverse-spin infinite 20s 2s ease-in;
    opacity: 0.1;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes app-logo-reverse-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
