.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-rows: minmax(14rem, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 16px;
  grid-auto-flow: dense;
}

.grid-template-columns {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.grid-gap {
  grid-gap: 2.5rem;
}

.card--expanded {
  grid-column: span 2;
  grid-row: span 2;
}

.card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
  margin-bottom: 1rem;
}

.card__title {
  height: 1rem;
  width: 7rem;
  background-color: hsla(0, 0%, 0%, 0.6);
  margin-bottom: 1rem;
}

.card__description {
  height: 2rem;
  width: 8rem;
  background-color: hsla(0, 0%, 0%, 0.2);
}

.card--1 {
  background-color: #7dcce2;
}

.card--2 {
  background-color: #5a96a7;
}

.card--3 {
  background-color: #5897a8;
}

.card--4 {
  background-color: #44717e;
}

.card--5 {
  background-color: #3e6a75;
}
