.home-view-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  justify-content: center;
  padding: 0 20px;
  position: relative;
  text-align: center;

  .app-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;

    h4 {
      color: #61dafb;
      text-shadow: 1px 1px #2b6474;
      font-weight: 100;
      font-size: 1.7rem;

      @media (max-width: 768px) {
        font-size: 1.6rem;
      }
    }

    p {
      color: #ccc;
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 0.45rem;
      font-weight: 600;
    }
  }
}

.appbar-logo-container {
  display: flex;
  align-items: center;
}

.app-logo-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alerts-container {
  cursor: pointer;
  height: 24px;
}
